[submodule "microsoft-authentication-library-common-for-android"]
	path = microsoft-authentication-library-common-for-android
	url = https://github.com/VovaNikitchuk94/microsoft-authentication-library-common-for-android.git
